/*标题区*/
.header
{
    width: 100%;
    height: 50px;
}
.header ul
{
    width: 100%;
    height: 50px;
    list-style: none;
    padding-left: 0;
}
.header li
{
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
}
.header li:nth-child(1)
{
    border-bottom:2px solid #3a7bd5;
    margin-left: 10px;
}
.header a
{
    font-stretch: normal;
    color: #3e3e3e;
    font:normal normal normal 16px/50px 'Microsoft YaHei';
}

/************************************************************/

/*内容区*/
.content
{
    width: 100%;
    margin-top: 20px;
    min-height: 250px;
}

/*账号绑定默认不显示，无就更不用显示*/
.content:nth-child(3)
{
    display: none;
}
.content:nth-child(4)
{
    display: none;
}
/*审核状态*/
.identifyState
{
    width: 98%;
    height: 50px;
    background-color: #f6f6f8;
    font:normal normal normal 16px/50px 'Microsoft YaHei';
    color: #3a7bd5;
    padding-left: 20px;
    margin-left: 10px;
}

/*内容包裹区*/
.info
{
    width: 100%;
    margin-top: 30px;
}
.info h4
{
    font:normal 600 normal 16px/1em 'Microsoft YaHei';
    padding-left: 30px;
    margin-bottom: 30px;
    color: #3e3e3e;
}

/*输入包裹*/
.identifyInputArea
{
    width: 100%;
    height: 34px;
    margin-bottom: 20px;
}
.identifyLabel
{
    float: left;
    padding-left: 30px;
    font:normal normal normal 14px/34px 'Microsoft YaHei';
    width: 150px;
    height: 100%;
    margin-right: 30px;
}
.bigFont
{
    font-size: 14px;
}

/************************************************************/
/*微信绑定*/
.wechatLogoDiv
{
    width: 100%;
    height: 42px;
    margin-top: 40px;
}
.wechatLogoDiv img
{
    margin:-5px 10px 0 30px;
    cursor: pointer;
}
.wechatWords
{
    font:normal normal normal 16px/42px 'Microsoft YaHei';
    color: #888888;
    margin-left: 23px;
}
.wechatName
{
    letter-spacing: -0.4px;
    color: #353535;
    font:normal normal normal 16px/42px 'Microsoft YaHei';
    margin-left:25px;
    cursor: pointer;
}

/*电话绑定*/
.phoneLogoDiv
{
    width: 100%;
    height: 42px;
    margin-top: 30px;
}
.phoneLogoDiv img
{
    margin:-9px 0 0 30px;
    cursor: pointer;
}
.username
{
    position:relative;
    left:33px;
    letter-spacing: -0.4px;
    color: #3e3e3e;
    font:normal normal normal 16px/54px 'Microsoft YaHei';
    cursor: pointer;
}
/*修改*/
#editArea
{
    position: relative;
    left:50px;
    top:-2px;
}
#editArea img
{
    margin: -2px 10px 0 0;
}
/*绑定*/
.addButton
{
    position:relative;
    left:5px;
    top:0px;
    width: 150px;
    height: 42px;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    font:normal normal normal 16px/42px 'Microsoft YaHei';
    letter-spacing: -0.3px;
    color: #000000;
    outline: none;
}
.addButton:hover
{
    color: #3A7BD5;
}


/*底部提交*/
.settingLabel
{
    padding-left: 30px;
    font:normal normal normal 14px/22px 'Microsoft YaHei';
}
.adjust
{
    margin:20px 0 20px 30px;
}
.checkPassword
{
    width: 40px;
    height: 40px;
    position:absolute;
    left:360px;
    top:297px;
    display: none;
}
.settingSubmit
{
    width: 160px;
    height: 42px;
    border-radius: 4px;
    background-color: #3a7bd5;
    border: none;
    font: normal normal normal 16px/40px 'Microsoft YaHei';
    color: white;
    text-align: center;
    letter-spacing: 2px;
    display: block;
    margin: 30px 0 0 30px;
}



