
.navContent .activeNav {
    color: #353535;
}

.updateVersionPart {
    width: 1020px;
    overflow: hidden;
    margin: 140px auto 0 auto;
    padding-bottom: 50px;
}
.versionSelect {
    width: 320px;
    margin: 0 10px;
    float: left;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.baseVersionAbove {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(138deg, #d0d4de, #969cb0);
    box-shadow: 0 6px 12px 0 rgba(153, 159, 178, 0.2);
    display: inline-block;
}

.baseVersionBelow, .growUpVersionBelow ,.vipVersionBelow {
    padding: 50px 30px 0;
    box-sizing: border-box;
}
.growUpVersionAbove {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(138deg, #8dcdff, #2d6bce);
    box-shadow: 0 6px 12px 0 rgba(153, 159, 178, 0.2);
    display: inline-block;
    position: relative;
}

.vipVersionAbove {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(137deg, #ffb965, #e55d18);
    box-shadow: 0 6px 12px 0 rgba(153, 159, 178, 0.2);
    display: inline-block;
}

.word_1 {
    width: 126px;
    height: 59px;
    margin: 30px auto 0 auto;
    color: white;
    text-align: center;
    line-height: 59px;
    font-size: 42px;
}
.word_2 {
    height: 33px;
    margin: 20px auto 0 auto;
    color: white;
    text-align: center;
    line-height: 33px;
    font-size: 24px;
}
.word_3 {
    position: absolute;
    top: 147px;
    left: 97px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 14px;
}
.btnWhite {
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    color: #353535;
    border-radius: 2px;
    display: block;
    margin: 75px auto 0 auto;
    transition: all 0.3s linear;
    cursor: pointer;
}
.btnWhite:hover {
    background-color: #dddddd;
    color: #000;
}
.word_4 {
    height: 22px;
    line-height: 22px;
    margin: 32px auto 0 auto;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}
.word_5 {
    width: 248px;
    margin: 10px auto 0 auto;
    text-align: center;
    color: white;
    font-size: 12px;
}

.word_11 {
    height: 20px;
    font-family: PingFangSC;
    font-size: 14px;
    color: #666666;
    float: left;
}
.wordIconWrapper {
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}
.functionEnable {
    width: 16px;
    height: 8px;
    border-left: 2px solid #979797;
    border-bottom: 2px solid #979797;
    float: right;
    margin-top: 2px;
    transform: rotate(-45deg);

}

.horizontalDivideLine {
    width: 1000px;
    height: 1px;
    margin: 0 auto 50px;
    background-color: #d8d8d8;
}

.FAQPart {
    width: 1020px;
    margin: 0 auto 0;
}
.FAQPart_title {
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    color: #353535;
    margin: 0 0 42px;
    text-align: center;
}

.FAQContentList {
    width: 1020px;
    height: 584px;
    margin: 0 auto 0;
}
.FAQContentWrapper {
    width: 490px;
    height: 272px;
    margin: 0 10px 20px;
    float: left;
    padding: 20px 20px 0;
    box-sizing: border-box;
}
.FAQ_Title {
    line-height: 22px;
    font-size: 16px;
    color: #353535;
    margin-bottom: 10px;
}
.FAQ_content {
    font-size: 14px;
    color: #666666;
    line-height: 22px;
}

.word_31 {
    margin: 20px 0 0 20px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #353535;
}

.word_32 {
    margin: 5px 0 20px 20px;
    line-height: 22px;
    font-family: PingFangSC;
    font-size: 16px;
    color: #353535;
}
.word_phoneNum {
    color: #275be6;
}
.footerDivideLine {
    width: 100%;
    height: 50px;
    background-color: white;
}











